pandas
langchain-core
langchain
langchain_ollama
langchain-community
faiss-cpu
sentence-transformers
langgraph
python-pptx
numpy
deepeval
pymupdf
python-docx
python-dotenv
docling
fastapi
uvicorn
pydantic